*{
    margin: 0;
    padding: 0;
}
body{
    background: black
    
}


.container{
    margin-top:15rem;
}
.title{
    margin-top: 50px;
}
.coaches{
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-content:space-evenly;
}
.coaches img {
    height:160px;
    width: 160px;
}
h1{
    font-family: 'Roboto';
    text-align: center;
    font-size: 80px;
    color: white;
}
.names {
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-content:space-evenly;
   
}
.names button {
    font-size:30px;
    font-family:"Quicksand";
    margin-top: 30px;
   background-color:red;
    border:solid red;
    border-radius: 5px;
    padding: 10px;
}
.coach1 input{
    position: relative;
    top:5rem;
    right:80px;
}
.coach2{
    position: relative;
    right:4.5rem;
}
.coach2 input{
    position: relative;
    top:5rem;
    right:12.5rem;
}
.coach3{
    position: relative;
    left: 9rem;
    bottom:5.5rem;
}
.coach3 input{
    position: relative;
    top: 5rem;
    left:10.4rem;
}
.tenz{
    position: relative;
    left:6rem;
}
.double{
    margin-right: 60px;
    position:relative;
    right:18.5rem;
}
.names input{
    height: 30px;
    width: 30px;
}
.imp{
    position: relative;
    right:11.5rem;
}
.tenz:focus{
    color: rgb(255, 255, 255);
    border: solid  #ffffff;
    animation: anim-shadow .3s forwards;
}
.double:focus{
    color: rgb(255, 255, 255);
    border: solid  #ffffff;
    animation: anim-shadow .3s forwards;
}
.imp:focus{
    color: white;
    border: solid  rgb(255, 255, 255);
    animation: anim-shadow .3s forwards;
}
@keyframes anim-shadow{
    50%{
        box-shadow: 0px 0px 10px 10px #E72150;
    }
    100%{
        box-shadow: 0px 0px 0px 0px red;
    }
}
.btn{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top:15rem;
}

.btn button{
    height: 60px;
    width: 400px;
    opacity: .95;
    border: none;
    background-color: #E72150;
    border-radius: 5px;
    color: white    ;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all .2;
    outline: none;
    
}
.btn button:hover{
    color: black;
    border: solid white;
    background: white   ;
    }
.button a {
    text-decoration: none;
    color: white;
}
.btn button a:hover{
    color: black;
}


